{% extends 'base.html' %}

{%block page_title%}Login{%endblock page_title%}
{%block page_desc%}Please login below{%endblock page_desc%}
{%block page_banner_link%}<a class="text-white font-weight-bold" href="#"></a>{%endblock page_banner_link%}

{% block content %}
{% if not current_user.is_authenticated %}
<p>Proceed to <strong><a href="{{url_for('users.register')}}">SIGNUP</a></strong> if you don't have an account with us.</p>
{% endif %}

{%if UserExistsError%}
<div class="container">
  <p style="color: red;">Your username or email has not been registered. Go to <a href="{{url_for('users.register')}}">Signup Page</a> to register a new account.</p>
</div>
{%endif%}

{%if UserPasswordError%}
<div class="container">
  <p style="color: red;">Your password is not correct. Try again.</p>
</div>
{%endif%}

<form class="" action="" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    {{form.username(class="form-control", placeholder="Please enter your username")}}
  </div>
   <div class="input-group mb-3">
     <div class="input-group-prepend">
       <span class="input-group-text" id="basic-addon1">Password</span>
     </div>
     {{form.password(class="form-control", placeholder="Please enter your password")}}
   </div>
   <div class="form-group">
     {{form.submitBtn(class="btn btn-primary", style="width:100%")}}
     <p class="text-muted ml-2"> <a class="text-muted" href="{{url_for('users.reset_request')}}">Forgot Password</a> </p>
   </div>
</form>
{% endblock %}
