{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Application - Main</h1>
    <h4>Please fill form below.</h4>
    <p>Enter the new passwords below. Make sure the two fields match.</p>
    <p>If you do not have an account, you can create one <a href="{{url_for('users.register')}}">here:</a>.</p>
  </div>

  <div class="container">
    <form class="" action="" method="post" enctype="multipart/form-data">
      {{form.hidden_tag()}}

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        {{form.password(class="form-control", placeholder="Please enter the new password")}}

        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Confirm Password</span>
        </div>
        {{form.confirm(class="form-control", placeholder="Please enter again to confirm the new password")}}


      </div>
      {{form.submitBtn(class="btn btn-primary", style="width:100%")}}
    </form>
  </div>
</div>

{% endblock %}
